!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title=title
    meta(name="description", content=description)
    meta(name="author", content=author)
    meta(name="viewport", content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    style
      body {
        padding-top: 60px;
      }
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav_collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand=title
          div.nav-collapse
            ul.nav
              li.activate
                a(href="#") Home
              li
                a(href="#about") About
              li
                a(href="#contact") Contact

    div.container
      block content

    block footer
      footer
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script
          window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\\/script>')
        script(src='js/bootstrap.min.js')
        script(defer, src='/js/script.js')
        script(defer, src='/socket.io/socket.io.js')
          script
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        //if lt IE 7
          script(defer, src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
          script(defer)
            window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})